body{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    background-color: #242525;
    color:rgb(228, 228, 228);
}
li{
    max-width: 900px;
}
h1{
    font-weight: 700;
    font-size: 4rem;
    margin: 0px 0px 20px 0px;
}

h2{
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

.navlink{
    color: #438bdd;
    font-size: 1.75rem;
    transition: 300ms;
}
.navlink:hover{
    color: #ededed;
    
}
.navlink:visited{
    color: hsl(283, 35%, 57%);
}

.navlink:visited:hover{
    color: #ededed;
}

img{
    max-width: 45%;
    height: auto;
}

.content-wrapper{
    max-width: 1280px;
    margin: 0px auto;
    padding: 64px 64px 32px 64px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section{
    margin-bottom: 64px;
}
.heading-text{
    max-width: 45%;
}
.back{
    font-size: 1.5rem;
    font-weight: 600;
}