body{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    background-color: rgb(36, 37, 37);
    color:rgb(228, 228, 228);
}
li, p{
    max-width: 900px;
}
h1{
    font-weight: 700;
    font-size: 4rem;
    margin: 0px 0px 20px 0px;
}

h2{
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

.navlink{
    color: #438bdd;
    font-size: 1.75rem;
    transition: 300ms;
}

.navlink:hover{
    color: #ededed;
    
}
.navlink:visited{
    color: hsl(281, 57%, 58%);
    text-shadow: 1px 1px rgb(36, 37, 37);
}

.navlink:visited:hover{
    color: #ededed;
}

img{
    max-width: 45%;
    height: auto;
}

.content-wrapper{
    max-width: 1280px;
    margin: 0px auto;
    padding: 64px 64px 32px 64px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section{
    margin-bottom: 64px;
}
.section{
    margin-bottom: 64px;
}
.section:last-child{
    margin-bottom: 0px;
}

.footer{
    text-align: center;
    width: 100%;
    padding: 32px;
    position: fixed;
    bottom: 0px;
    left: 0;
  }
.footer_bg{
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 37, 37, 0.4);
    backdrop-filter: blur(3px);
    mask-image: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
    transform: rotate(180deg);
    z-index: -1;
}


.heading-text{
    max-width: 45%;
}
.back{
    font-size: 1.5rem;
    font-weight: 600;
}